<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.step.template.main.mapper.PermissionMapper">

    <!-- 查询某个用户拥有的权限 -->
    <select id="selectByUserId" resultType="String">
        select distinct P.code
        from permission P
                 left join role_permission RP on RP.permissionId = P.id
                 left join role R on R.id = RP.roleId
                 left join user_role UR on UR.roleId = R.id
                 left join user U on U.id = UR.userId
        where U.id = #{userId}
    </select>
</mapper>
